* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

:root {
    --default-padding: 28px;

    --tipo-normal: #A8A878;
    --tipo-fire: #F08030;
    --tipo-water: #6890F0;
    --tipo-grass: #78C850;
    --tipo-electric: #F8D030;
    --tipo-ice: #98D8D8;
    --tipo-fighting: #C03028;
    --tipo-poison: #A040A0;
    --tipo-ground: #E0C068;
    --tipo-flying: #A890F0;
    --tipo-psychic: #F85888;
    --tipo-bug: #A8B820;
    --tipo-rock: #B8A038;
    --tipo-ghost: #705898;
    --tipo-dragon: #7038F8;
    --tipo-dark: #705848;
    --tipo-steel: #B8B8D0;
    --tipo-fairy: #EE99AC;

    --texto-claro: #FFFFFF;
    --texto-escuro: #333333;
}

body {
    background-color: red;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-inline: var(--default-padding);
    padding-block: 12px;
    position: relative;
    z-index: 100;
}

.itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokeball {
    width: 35px;
}

.container-menu {
    position: relative;
    display: inline-block;
    background-color: black;
    padding: 0;
}

.container-menu img {
    width: 35px;
    cursor: pointer;
}

.menu {
    position: absolute;
    min-width: 250px;
    top: 110%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    background-color: #494949af;
    border-radius: 8px;
    padding-left: 8px;
}

.container-menu:hover .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    border: 2px solid black;
}

.menu li {
    width: 100%;
    transition: .5s;
    border-radius: 8px;
}

.menu li a:hover {
    background-color: #ffffff8e;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0 4px 4px #0004;
    width: 100%;
}

section {
    width: 100vw;
    height: 100dvh;
    padding: var(--default-padding);
}

.team-builder {
    background-image: url(./img/bg-team-builder.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-color: white;
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    position: relative;
    padding-block: 16px;
    height: auto;
}

.nome-time {
    background-color: white;
    display: flex;
    position: relative;
    border: 2px solid #000;
    width: 424px;
    height: 60px;
    border-radius: 25px;
    padding-left: 16px;
    gap: 16px;
    align-items: center;
}

.nome-time img {
    width: 50px;
    height: 50px;
}

.nome-time input {
    border: none;
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.bg {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.bg-pokeball {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    z-index: 1;
}

.team {
    border: 2px solid black;
    position: relative;
    display: flex;
    columns: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 8px;
    border-radius: 32px;
    background-color: #414040;
    gap: 10px;
    height: auto;
    width: 100%;
    padding-inline: 16px;
}

.cards-team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
}

.card-pokemon {
    position: relative;
    border: 2px solid #ED5564;
    border-radius: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 108px;
    height: 164px;
    color: white;
    gap: 20px;
    margin-bottom: 12px;

}

.card-pokemon img {
    width: 64px;
}

.card-pokemon p {
    padding-left: 20px;
}

.status-time {
    width: 100%;
    height: auto;
    background-image: url(./img/bg-status-time.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    background-color: #8F8F8F;
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.header-sessao {
    display: flex;
    justify-content: center;
    width: 100%;
}

.titulo-sessao {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: var(--default-padding);
    display: flex;
    width: 424px;
    height: 60px;
    gap: 24px;
    align-items: center;
}

.titulo-sessao img {
    width: 50px;
    height: 50px;
}

.table {
    position: relative;
    overflow-x: auto;


}

table {
    min-width: 700px;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 10px 20px;
}

.move-set {
    width: 100%;
    height: auto;
    background-color: #222222;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.conteudo-sessao {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 32px;
    height: auto;
    padding-block: 24px;
    width: 100%;
    gap: 32px;
}

.time-escolhido {
    background-color: white;
    border-radius: 20px;
    height: 168px;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 12px;
    gap: 24px;
}

.time-name {
    background-color: black;
    border-radius: 20px;
    border: 2px solid #ED5564;
    width: 283px;
    height: 36px;
}

.time-name p {
    font-size: 24px;
    color: white;
}

.pokemon-lista {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 2px solid #ED5564;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-bottom: 4px;
    width: 160px;
}

.pokemon-lista img {
    width: 20px;
    height: 20px;
}

.pokemon-lista span {
    font-size: 8px;
}

.tipos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    border-radius: 10px;
}

.tipo-pokemon {
    font-size: 8px;
    background-color: #FF69BC;
    padding-block: 4px;
    padding-inline: 4px;
    border-radius: 4px;
}

.time {
    display: column;
    columns: 2;
    gap: 32px;
    width: 90%;
}

.move-set-pokemon {
    background-color: #00000021;
    border: 2px solid #ED5564;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 250px;
    gap: 24px;
    padding-block: 16px;
    padding-inline: 16px;
}

.pokemon-move {
    background-color: white;
    border: 2px solid #ED5564;
    border-radius: 20px;
    display: flex;
    height: 40px;
    text-align: center;
    align-items: center;
    padding-block: 8px;
    padding-inline: 8px;
}

.moves {
    display: column;
    columns: 2;
    height: 100%;
}

.move {
    border: 2px solid #ED5564;
    border-radius: 16px;
    background-color: #D9D9D9;
    height: 44px;
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    align-items: center;
}

.move span {
    font-size: 12px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    color: white;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #fff;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal-fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-container {
    background-color: #777777;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.pokemon-modal {
    border: 2px solid #ED5564;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.pokemon-modal:hover {
    transform: scale(1.05);
}

.pokemon-modal img {
    width: 96px;
    height: 96px;
}
.modal-barra-busca {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
}
.modal-cards-wrapper {
    overflow-y: auto; 
    flex-grow: 1;   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 5px; 
}

.tipos-tabela{
    border-radius: 10px;
}

.modal-tipo-tag, 
.tipos-tabela p { 
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4%;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 2px;
    color: var(--texto-claro); 
}

#time-move-set .modal-tipos {
    display: flex;
    width: 50px;             
}

@media (min-width: 768px) {
    .team {
        display: column;
        padding-left: 16px;
    }

    .bg-pokeball {
        width: 532px;
    }

    .card-pokemon {
        width: 200px;
        height: 250px;
    }

    .card-pokemon img {
        width: 120px;
    }

    .conteudo-sessao {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4;
        padding-inline: 16px;
    }

    .time-escolhido {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 50%;
    }

    .time {
        display: flex;
        flex-direction: column;
        padding-bottom: 4px;
        gap: 0;
    }

    .pokemon-lista {
        width: 264px;
        justify-content: space-around;
        height: 32px;
    }

    .pokemon-lista span {
        font-size: 16px;
    }

    .pokemon-lista img {
        width: 28px;
        height: 28px
    }

    .move-set-pokemon {
        width: 50%;
        height: 200px;
    }

    .move {
        width: 150px;
    }

    .move span {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .team {
        display: column;
        padding-left: 40px;
    }

    .cards-team {
        gap: 9vw;
    }

    .card-pokemon {
        width: 250px;
    }

    .conteudo-sessao {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4;
        padding-inline: 16px;
    }

    .time-escolhido {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 50%;
    }

    .time {
        display: flex;
        flex-direction: column;
        padding-bottom: 4px;
        gap: 0;
    }

    .pokemon-lista {
        width: 264px;
        justify-content: space-around;
        height: 32px;
    }

    .pokemon-lista span {
        font-size: 16px;
    }

    .pokemon-lista img {
        width: 28px;
        height: 28px
    }

    .move-set-pokemon {
        width: 50%;
        height: 200px;
    }

    .move {
        width: 150px;
    }

    .move span {
        font-size: 16px;
    }
    .status-time{
        align-items: center;
    }
}

/* Adicionando cores de fundo para os tipos dos pokemons */
.tipo-normal { background-color: var(--tipo-normal);  border-radius: 4px; }
.tipo-fire { background-color: var(--tipo-fire); color: var(--texto-claro); border-radius: 4px; }
.tipo-water { background-color: var(--tipo-water); color: var(--texto-claro);  border-radius: 4px; }
.tipo-grass { background-color: var(--tipo-grass);  border-radius: 4px;}
.tipo-electric { background-color: var(--tipo-electric); border-radius: 4px;}
.tipo-ice { background-color: var(--tipo-ice); border-radius: 4px;}
.tipo-fighting { background-color: var(--tipo-fighting); color: var(--texto-claro); border-radius: 4px; }
.tipo-poison { background-color: var(--tipo-poison); color: var(--texto-claro); border-radius: 4px;}
.tipo-ground { background-color: var(--tipo-ground); border-radius: 4px;}
.tipo-flying { background-color: var(--tipo-flying); border-radius: 4px;}
.tipo-psychic { background-color: var(--tipo-psychic); border-radius: 4px;}
.tipo-bug { background-color: var(--tipo-bug); border-radius: 4px;}
.tipo-rock { background-color: var(--tipo-rock); border-radius: 4px;}
.tipo-ghost { background-color: var(--tipo-ghost); color: var(--texto-claro); border-radius: 4px;}
.tipo-dragon { background-color: var(--tipo-dragon); color: var(--texto-claro); border-radius: 4px;}
.tipo-dark { background-color: var(--tipo-dark); color: var(--texto-claro); border-radius: 4px;}
.tipo-steel { background-color: var(--tipo-steel); border-radius: 4px;}
.tipo-fairy { background-color: var(--tipo-fairy); border-radius: 4px;}