* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

:root{
    --default-padding: 28px
}
body{
    background-color: red;
}
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-inline: var(--default-padding);
    padding-block: 12px;
    position: relative;
    z-index: 100;
}

.itens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokeball {
    width: 35px;
}

.container-menu {
    position: relative;
    display: inline-block;
    background-color: black;
    padding: 0;
}

.container-menu img {
    width: 35px;
    cursor: pointer;
}

.menu {
    position: absolute;
    min-width: 150px;
    top: 110%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    background-color: #494949af;
    border-radius: 8px;
    padding-left: 8px;
}

.container-menu:hover .menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.menu li{
    transition: .5s;
}
.menu li a:hover{
    background-color: #ffffff8e;
    box-shadow: 0 4px 4px #0004;
    width: 100%;
}
section{
    height: 100dvh;
    padding: var(--default-padding);
}
.team-builder{
    background-image: url(./img/bg-team-builder.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100vw;
    position: relative;
}
.nome-time{
    background-color: white;
    display: flex;
    position: relative;
    border: 2px solid #000;
    width: 424px;
    height: 60px;
    border-radius: 25px ;
    padding-left: 16px;
    gap: 6px;
}
.nome-time img{
    width: 50px;
    height: 50px;
}
.nome-time input{
    border: none;
    width: 80vw;
    border-radius: 20px;
}
.bg{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.bg-pokeball{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    top: 0;

    z-index: 1;
}
.team{
    border: 2px solid black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-block: 8px;
    border-radius: 32px;
    background-color: #414040;
    gap: 20px;
}
.card-pokemon{
    position: relative;
    border: 2px solid #ED5564;
    border-radius: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    max-width: 108px;
    height: 132px;
    color: white;
    gap: 20px;
}
.card-pokemon img{
    width: 64px;
}
.card-pokemon p{
    padding-left: 20px;
}